<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Conversion</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/jpgtowebp">JPG to WEBP converter</a></li>
            <li><a href="/pngtowebp">PNG to WEBP converter</a></li>
            <li><a href="/bmptowebp">BMP to WEBP converter</a></li>
            <li><a href="/jpgtopdf">JPG to PDF converter</a></li>
            <li><a href="/pngtopdf">PNG to PDF converter</a></li>
            <li><a href="/bmptopdf">BMP to PDF converter</a></li>
        </ul>
    </div>      
</body>
</html>