<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPG to WEBP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form>
        <div>
            <input type="file" id="jpgImage" accept="image/jpeg"/>
        </div>
        <div>
            <button id="convertToWebpBtn">Convert to WEBP</button>
        </div>
    </form>
    
    <script>
        document.getElementById("convertToWebpBtn").addEventListener("click", function(e) {
            e.preventDefault();
            let image = document.getElementById("jpgImage").files[0];
            let imageName = image.name;
            let imageSize = image.size;
            let imageType = image.type;
            if (image == null) {
                alert("Please select an image");
                return;
            } else if (!imageType.includes("image/jpeg")) {
                alert("Selected file is not in JPEG format");
                return;
            } else if (imageSize > 5000000) {
                alert("Image size should be less than 5 MB");
                return;
            }
            let formData = new FormData();
            formData.append("image", image);
            fetch("/api/jpgtowebp", {
                method: "POST",
                body: formData
            }).then(response =>{
                if(response.ok){
                    const disposition = response.headers.get('Content-Disposition');
                    filename = disposition.split(/;(.+)/)[1].split(/=(.+)/)[1];
                    if (filename.toLowerCase().startsWith("utf-8''"))
                        filename = decodeURIComponent(filename.replace("utf-8''", ''));
                    else
                        filename = filename.replace(/['"]/g, '');
                    console.log(filename);
                    return response.blob();
                }else{
                    alert("failed to convert image")
                }
            }).then(blob=>{
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                console.log(filename);
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                alert("Image converted successfully!");
            });
        });
    </script>
</body>
</html>